<div class="grid__template newsList__grid">
   <div class="grid__sizer"></div>
   <div class="grid__item newsList__item">
      <div class="newslist__item__content--image">
         <img src="img/col.jpeg" alt="">
      </div>
      <div class="newsList__item__content--data">
         <span class="newsList__item__content--date">20 oct</span>
         <div class="newsList__item__content--title">Lorem ipsum dolor sit amet</div>
      </div>
   </div>
   
   <div class="grid__item newsList__item">
      <div class="newslist__item__content--image">
         <img src="img/col2.jpeg" alt="">
      </div>
      <div class="newsList__item__content--data">
         <span class="newsList__item__content--date">20 oct</span>
         <div class="newsList__item__content--title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
      </div>
   </div>
   
   <div class="grid__item newsList__item">
      <div class="newslist__item__content--image">
         <img src="img/col3.jpeg" alt="">
      </div>
      <div class="newsList__item__content--data">
         <span class="newsList__item__content--date">20 oct</span>
         <div class="newsList__item__content--title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
      </div>
   </div>
   
   <div class="grid__item newsList__item">
      <div class="newslist__item__content--image">
         <img src="img/col4.jpeg" alt="">
      </div>
      <div class="newsList__item__content--data">
         <span class="newsList__item__content--date">20 oct</span>
         <div class="newsList__item__content--title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
      </div>
   </div>
   
   <div class="grid__item newsList__item">
      <div class="newslist__item__content--image">
         <img src="img/col5.jpeg" alt="">
      </div>
      <div class="newsList__item__content--data">
         <span class="newsList__item__content--date">20 oct</span>
         <div class="newsList__item__content--title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
      </div>
   </div>
   
   <div class="grid__item newsList__item">
      <div class="newslist__item__content--image">
         <img src="img/col6.jpeg" alt="">
      </div>
      <div class="newsList__item__content--data">
         <span class="newsList__item__content--date">20 oct</span>
         <div class="newsList__item__content--title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>
   </div>
   
   <div class="grid__item newsList__item">
      <div class="newslist__item__content--image">
         <img src="img/col7.jpeg" alt="">
      </div>
      <div class="newsList__item__content--data">
         <span class="newsList__item__content--date">25 oct</span>
         <div class="newsList__item__content--title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>
   </div>


</div>
