<div class="artist__hero">
   <h1>Titre Artiste</h1>
   <ul class="social">
      <li>
         <a href="#">
            <img src="img/facebook.svg" class="img-responsive">
         </a>
      </li>
      <li>
         <a href="#">
            <img src="img/youtube.svg" class="img-responsive">
         </a>
      </li>
      <li>
         <a href="#">
            <img src="img/twitter.svg" class="img-responsive">
         </a>
      </li>
   </ul>
   <div class="hero__overlay"></div>
   <img src="http://lorempixel.com/1000/700/" class="artist__hereo__img img-responsive">
</div>
<div class="player__artist">
   <div class="playerPrincipal">
      <div class="player__cover">
         <img src="http://lorempixel.com/400/400/" class="img-responsive">
      </div>
      <div class="player__nav">
         <h2>titre de l'album</h2>
         <p>nom de l'artiste</p>
         <p>catégorie de l'album - année</p>
         <ul class="player__nav__list">
            <li class="selected">
               <p>In reverse</p>
               <p>3:27</p>
               <div class="playIcon"></div>
            </li>
            <li>
               <p>In reverse</p>
               <p>3:27</p>
               <div class="playIcon"></div>
            </li>
            <li>
               <p>In reverse</p>
               <p>3:27</p>
               <div class="playIcon"></div>
            </li>
            <li>
               <p>In reverse</p>
               <p>3:27</p>
               <div class="playIcon"></div>
            </li>
            <li>
               <p>In reverse</p>
               <p>3:27</p>
               <div class="playIcon"></div>
            </li>
            <li>
               <p>In reverse</p>
               <p>3:27</p>
               <div class="playIcon"></div>
            </li>
            <li>
               <p>In reverse</p>
               <p>3:27</p>
               <div class="playIcon"></div>
            </li>
            <li>
               <p>In reverse</p>
               <p>3:27</p>
               <div class="playIcon"></div>
            </li>
            <li>
               <p>In reverse</p>
               <p>3:27</p>
               <div class="playIcon"></div>
            </li>
            <li>
               <p>In reverse</p>
               <p>3:27</p>
               <div class="playIcon"></div>
            </li>
         </ul>
      </div>
   </div>
</div>
<div class="playerMain">
   <div class="player__song__infos">
      <p>Artiste name</p>
      <p>Song name</p>
   </div>
   <div class="player__song">
      <a class="player__song__button"></a>
      <div class="player__song__timeline">
         <div class="timeline__filler">
            <div class="timeline__fill"></div>
         </div>
         <div class="timeline__time">
            <p>00:00</p>
            <p>03:40</p>
         </div>
      </div>
   </div>
</div>

<div class="artist__albums">
   <h2>Autres Albums</h2>
   <div class="artist__albums__slider">
      <div class="artist__albums__item">
         <div class="cover">
            <a class="player" href="#"><img src="img/play-button.svg"></a>
            <img src="http://lorempixel.com/300/300/" class="img-responsive">
         </div>
         <p class="title">titre de l'album</p>
      </div>
      <div class="artist__albums__item">
         <div class="cover">
            <a class="player" href="#"><img src="img/play-button.svg"></a>
            <img src="http://lorempixel.com/300/300/" class="img-responsive">
         </div>
         <p class="title">titre de l'album</p>
      </div>
      <div class="artist__albums__item">
         <div class="cover">
            <a class="player" href="#"><img src="img/play-button.svg"></a>
            <img src="http://lorempixel.com/300/300/" class="img-responsive">
         </div>
         <p class="title">titre de l'album</p>
      </div>
      <div class="artist__albums__item">
         <div class="cover">
            <a class="player" href="#"><img src="img/play-button.svg"></a>
            <img src="http://lorempixel.com/300/300/" class="img-responsive">
         </div>
         <p class="title">titre de l'album</p>
      </div>
      <div class="artist__albums__item">
         <div class="cover">
            <a class="player" href="#"><img src="img/play-button.svg"></a>
            <img src="http://lorempixel.com/300/300/" class="img-responsive">
         </div>
         <p class="title">titre de l'album</p>
      </div>
     
   </div>
</div>
<div class="artist__similar">
   <h2>Artistes Similaires</h2>
   <div class="artist__similar__slider">
      <div class="artist__similar__item">
         <p class="title">lorem ipsum</p>
         <div class="overlay"></div>
         <img src="http://lorempixel.com/800/800/" class="img-responsive">
      </div>
      <div class="artist__similar__item">
         <p class="title">lorem ipsum</p>
         <div class="overlay"></div>
         <img src="http://lorempixel.com/800/800/" class="img-responsive">
      </div>
   </div>
</div>
