<div class="news__list">
   <div class="news__item--primary">
      <div class="date">
         20 oct
      </div>
      <div class="data">
         artist's name
      </div>
      <div class="img-responsive">
         <img src="http://lorempixel.com/1000/500/">
      </div>
   </div>
   <div class="news__item--secondary">
      <div class="date">
         20 oct
      </div>
      <div class="data">
         artist's name
      </div>
      <div class="img-responsive">
         <img src="http://lorempixel.com/1000/500/">
      </div>
   </div>
</div>