<div class="artist__list">
   <div class="artist__list__item">
      <div class="artist__list__data">
        <h3>Nom de l'artiste</h3>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <img src="img/facebook.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/youtube.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/twitter.svg" class="img-responsive">
               </a>
            </li>
         </ul>
      </div>
      <img src="#" alt="" class="img-responsive">
   </div>
</div>