
<div class="artist__hero">
   <h1>Titre Artiste</h1>
   <ul class="social">
      <li>
         <a href="#">
            <div class="img-responsive">
               <img src="img/facebook.svg" class="img-responsive">
            </div>
         </a>
      </li>
      <li>
         <a href="#">
            <div class="img-responsive">
               <img src="img/youtube.svg" class="img-responsive">
            </div>
         </a>
      </li>
      <li>
         <a href="#">
            <div class="img-responsive">
               <img src="img/twitter.svg" class="img-responsive">
            </div>
         </a>
      </li>
   </ul>
   <div class="hero__overlay"></div>
   <div class="img-responsive">
      <img src="http://lorempixel.com/1000/700/" class="artist__hereo__img img-responsive">
   </div>
</div>
<div class="artist__actu">
   <h2>Actualités</h2>
   <div class="slider__artiste__actu">
      <a href="" class="artist__actu__item">
         <div class="img-responsive">
            <img src="http://lorempixel.com/300/200/" class="img-responsive">
         </div>
         <p class="type">album</p>
         <p class="date">date parution</p>
         <p class="title">titre de cette actualité</p>
      </a>
      <a href="" class="artist__actu__item">
         <div class="img-responsive">
            <img src="http://lorempixel.com/300/200/" class="img-responsive">
         </div>
         <p class="type">album</p>
         <p class="date">date parution</p>
         <p class="title">titre de cette actualité</p>
      </a>
      <a href="" class="artist__actu__item">
         <div class="img-responsive">
            <img src="http://lorempixel.com/300/200/" class="img-responsive">
         </div>
         <p class="type">album</p>
         <p class="date">date parution</p>
         <p class="title">titre de cette actualité</p>
      </a>
      <a href="" class="artist__actu__item">
         <div class="img-responsive">
            <img src="http://lorempixel.com/300/200/" class="img-responsive">
         </div>
         <p class="type">album</p>
         <p class="date">date parution</p>
         <p class="title">titre de cette actualité</p>
      </a>
   </div>
</div>
<div class="artist__biography">
   <h2>biographie</h2>
   <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore odio ad debitis exercitationem doloremque, perferendis nesciunt quasi commodi perspiciatis nobis, molestias excepturi eaque, facilis officia eos unde omnis qui autem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, voluptas. Nobis voluptates excepturi cupiditate, modi hic maiores aliquid, veniam dignissimos totam laboriosam sequi at quidem maxime ducimus necessitatibus fugiat pariatur.</p>
   </div>
</div>
<div class="artist__albums">
   <h2>Albums</h2>
   <div class="artist__albums__slider">
      <div class="artist__albums__item">
         <div class="cover">
            <a class="player" href="#"><img src="img/play-button.svg"></a>
            <div class="img-responsive">
               <img src="http://lorempixel.com/300/300/" class="img-responsive">
            </div>
         </div>
         <p class="title">titre de l'album</p>
      </div>
      <div class="artist__albums__item">
         <div class="cover">
            <a class="player" href="#"><img src="img/play-button.svg"></a>
            <div class="img-responsive">
               <img src="http://lorempixel.com/300/300/" class="img-responsive">
            </div>
         </div>
         <p class="title">titre de l'album</p>
      </div>
      <div class="artist__albums__item">
         <div class="cover">
            <a class="player" href="#"><img src="img/play-button.svg"></a>
            <div class="img-responsive">
               <img src="http://lorempixel.com/300/300/" class="img-responsive">
            </div>
         </div>
         <p class="title">titre de l'album</p>
      </div>
      <div class="artist__albums__item">
         <div class="cover">
            <a class="player" href="#"><img src="img/play-button.svg"></a>
            <div class="img-responsive">
               <img src="http://lorempixel.com/300/300/" class="img-responsive">
            </div>
         </div>
         <p class="title">titre de l'album</p>
      </div>
      <div class="artist__albums__item">
         <div class="cover">
            <a class="player" href="#"><img src="img/play-button.svg"></a>
            <div class="img-responsive">
               <img src="http://lorempixel.com/300/300/" class="img-responsive">
            </div>
         </div>
         <p class="title">titre de l'album</p>
      </div>
      <div class="artist__albums__item">
         <div class="cover">
            <a class="player" href="#"><img src="img/play-button.svg"></a>
            <div class="img-responsive">
               <img src="http://lorempixel.com/300/300/" class="img-responsive">
            </div>
         </div>
         <p class="title">titre de l'album</p>
      </div>
   </div> 
</div>
<div class="artist__similar">
   <h2>Artistes Similaires</h2>
   <div class="artist__similar__slider">
      <a href="#" class="artist__similar__item">
         <p class="title">lorem ipsum</p>
         <div class="overlay"></div>
         <div class="img-responsive">
            <img src="http://lorempixel.com/800/800/" class="img-responsive">
         </div>
      </a>
      <a href="#" class="artist__similar__item">
         <p class="title">lorem ipsum</p>
         <div class="overlay"></div>
         <div class="img-responsive">
            <img src="http://lorempixel.com/800/800/" class="img-responsive">
         </div>
      </a>
   </div>
</div>

