<div class="artist__list">
   <div class="artist__list__item">
      <div class="artist__list__data">
         <a href="#">Nom de l'artiste</a>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/facebook.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/youtube.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive"> 
                     <img src="img/twitter.svg" class="img-responsive">
                  </div>
               </a>
            </li>
         </ul>
      </div>
      <div class="img-responsive">
         <a href=""><img src="http://lorempixel.com/500/500/" alt="" class="img-responsive"></a>
      </div>
   </div>
   
   <div class="artist__list__item">
      <div class="artist__list__data">
         <a href="#">Nom de l'artiste</a>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/facebook.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/youtube.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive"> 
                     <img src="img/twitter.svg" class="img-responsive">
                  </div>
               </a>
            </li>
         </ul>
      </div>
      <div class="img-responsive">
         <a href=""><img src="http://lorempixel.com/500/500/" alt="" class="img-responsive"></a>
      </div>
   </div>
   
   <div class="artist__list__item">
      <div class="artist__list__data">
         <a href="#">Nom de l'artiste</a>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/facebook.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/youtube.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive"> 
                     <img src="img/twitter.svg" class="img-responsive">
                  </div>
               </a>
            </li>
         </ul>
      </div>
      <div class="img-responsive">
         <a href=""><img src="http://lorempixel.com/500/500/" alt="" class="img-responsive"></a>
      </div>
   </div>
   
   <div class="artist__list__item">
      <div class="artist__list__data">
         <a href="#">Nom de l'artiste</a>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/facebook.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/youtube.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive"> 
                     <img src="img/twitter.svg" class="img-responsive">
                  </div>
               </a>
            </li>
         </ul>
      </div>
      <div class="img-responsive">
         <a href=""><img src="http://lorempixel.com/500/500/" alt="" class="img-responsive"></a>
      </div>
   </div>
   
   <div class="artist__list__item">
      <div class="artist__list__data">
         <a href="#">Nom de l'artiste</a>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/facebook.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/youtube.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive"> 
                     <img src="img/twitter.svg" class="img-responsive">
                  </div>
               </a>
            </li>
         </ul>
      </div>
      <div class="img-responsive">
         <a href=""><img src="http://lorempixel.com/500/500/" alt="" class="img-responsive"></a>
      </div>
   </div>
   
   <div class="artist__list__item">
      <div class="artist__list__data">
         <a href="#">Nom de l'artiste</a>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/facebook.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/youtube.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive"> 
                     <img src="img/twitter.svg" class="img-responsive">
                  </div>
               </a>
            </li>
         </ul>
      </div>
      <div class="img-responsive">
         <a href=""><img src="http://lorempixel.com/500/500/" alt="" class="img-responsive"></a>
      </div>
   </div>
   
   <div class="artist__list__item">
      <div class="artist__list__data">
         <a href="#">Nom de l'artiste</a>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/facebook.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/youtube.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive"> 
                     <img src="img/twitter.svg" class="img-responsive">
                  </div>
               </a>
            </li>
         </ul>
      </div>
      <div class="img-responsive">
         <a href=""><img src="http://lorempixel.com/500/500/" alt="" class="img-responsive"></a>
      </div>
   </div>
   
   <div class="artist__list__item">
      <div class="artist__list__data">
         <a href="#">Nom de l'artiste</a>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/facebook.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/youtube.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive"> 
                     <img src="img/twitter.svg" class="img-responsive">
                  </div>
               </a>
            </li>
         </ul>
      </div>
      <div class="img-responsive">
         <a href=""><img src="http://lorempixel.com/500/500/" alt="" class="img-responsive"></a>
      </div>
   </div>
   
   <div class="artist__list__item">
      <div class="artist__list__data">
         <a href="#">Nom de l'artiste</a>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/facebook.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/youtube.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive"> 
                     <img src="img/twitter.svg" class="img-responsive">
                  </div>
               </a>
            </li>
         </ul>
      </div>
      <div class="img-responsive">
         <a href=""><img src="http://lorempixel.com/500/500/" alt="" class="img-responsive"></a>
      </div>
   </div>
   
   <div class="artist__list__item">
      <div class="artist__list__data">
         <a href="#">Nom de l'artiste</a>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/facebook.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/youtube.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive"> 
                     <img src="img/twitter.svg" class="img-responsive">
                  </div>
               </a>
            </li>
         </ul>
      </div>
      <div class="img-responsive">
         <a href=""><img src="http://lorempixel.com/500/500/" alt="" class="img-responsive"></a>
      </div>
   </div>
   
   <div class="artist__list__item">
      <div class="artist__list__data">
         <a href="#">Nom de l'artiste</a>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/facebook.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive">
                     <img src="img/youtube.svg" class="img-responsive">
                  </div>
               </a>
            </li>
            <li>
               <a href="#">
                  <div class="img-responsive"> 
                     <img src="img/twitter.svg" class="img-responsive">
                  </div>
               </a>
            </li>
         </ul>
      </div>
      <div class="img-responsive">
         <a href=""><img src="http://lorempixel.com/500/500/" alt="" class="img-responsive"></a>
      </div>
   </div>
</div>