<div class="artist__list">
   <div class="artist__list__item">
      <div class="artist__list__data">
        <p>Nom de l'artiste</p>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <img src="img/facebook.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/youtube.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#"> 
                  <img src="img/twitter.svg" class="img-responsive">
               </a>
            </li>
         </ul>
      </div>
      <img src="http://lorempixel.com/500/500/" alt="" class="img-responsive">
   </div>
    <div class="artist__list__item">
      <div class="artist__list__data">
        <p>Nom de l'artiste</p>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <img src="img/facebook.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/youtube.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/twitter.svg" class="img-responsive">
               </a>
            </li>
         </ul>
      </div>
      <img src="http://lorempixel.com/500/500/" alt="" class="img-responsive">
   </div>
    <div class="artist__list__item">
      <div class="artist__list__data">
        <p>Nom de l'artiste</p>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <img src="img/facebook.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/youtube.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/twitter.svg" class="img-responsive">
               </a>
            </li>
         </ul>
      </div>
      <img src="http://lorempixel.com/500/500/" alt="" class="img-responsive">
   </div>
    <div class="artist__list__item">
      <div class="artist__list__data">
        <p>Nom de l'artiste</p>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <img src="img/facebook.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/youtube.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/twitter.svg" class="img-responsive">
               </a>
            </li>
         </ul>
      </div>
      <img src="http://lorempixel.com/500/500/" alt="" class="img-responsive">
   </div>
    <div class="artist__list__item">
      <div class="artist__list__data">
        <p>Nom de l'artiste</p>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <img src="img/facebook.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/youtube.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/twitter.svg" class="img-responsive">
               </a>
            </li>
         </ul>
      </div>
      <img src="http://lorempixel.com/500/500/" alt="" class="img-responsive">
   </div>
    <div class="artist__list__item">
      <div class="artist__list__data">
        <p>Nom de l'artiste</p>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <img src="img/facebook.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/youtube.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/twitter.svg" class="img-responsive">
               </a>
            </li>
         </ul>
      </div>
      <img src="http://lorempixel.com/500/500/" alt="" class="img-responsive">
   </div>
    <div class="artist__list__item">
      <div class="artist__list__data">
        <p>Nom de l'artiste</p>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <img src="img/facebook.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/youtube.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/twitter.svg" class="img-responsive">
               </a>
            </li>
         </ul>
      </div>
      <img src="http://lorempixel.com/500/500/" alt="" class="img-responsive">
   </div>
    <div class="artist__list__item">
      <div class="artist__list__data">
        <p>Nom de l'artiste</p>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <img src="img/facebook.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/youtube.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/twitter.svg" class="img-responsive">
               </a>
            </li>
         </ul>
      </div>
      <img src="http://lorempixel.com/500/500/" alt="" class="img-responsive">
   </div>
    <div class="artist__list__item">
      <div class="artist__list__data">
        <p>Nom de l'artiste</p>
         <ul class="artist__list__social">
            <li>
               <a href="#">
                  <img src="img/facebook.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/youtube.svg" class="img-responsive">
               </a>
            </li>
            <li>
               <a href="#">
                  <img src="img/twitter.svg" class="img-responsive">
               </a>
            </li>
         </ul>
      </div>
      <img src="http://lorempixel.com/500/500/" alt="" class="img-responsive">
   </div>
   
</div>