<div class="actu"> 
   <div class="actu__header">
      <div class="date"><span>20</span><span>oct</span></div>
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
   </div>
   <div class="actu__hero">
      <a class="button__contact" href="#"><img src="#" alt=""></a>
      <ul class="social__hero">
         <li>
            <a href="#" alt="#">
               <img src="#" alt="#">
            </a>
         </li>
         <li>
            <a href="#" alt="#">
               <img src="#" alt="#">
            </a>
         </li>
         <li>
            <a href="#" alt="#">
               <img src="#" alt="#">
            </a>
         </li>
         <li>
            <a href="#" alt="#">
               <img src="#" alt="#">
            </a>
         </li>
      </ul>
      <img src="img/news_panorama.jpg" class="img-responsive hero__img" alt="">
   </div>
   <div class="actu__main">
      <h2>Lorem ipsum <span>dolor</span> sit amet, consectetur adipisicing elit. Sunt dolor voluptatem deleniti <span>velit</span>, architecto expedita ea.</h2>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente odit nobis aspernatur.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In dolore itaque earum est adipisci reiciendis eveniet esse ad, porro vitae voluptatibus nulla modi quae exercitationem, illo dignissimos nihil. Nisi, ipsam?</p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum esse nisi magni doloribus id optio nihil, quae tenetur quibusdam consectetur expedita dignissimos exercitationem facere perferendis, corrupti libero autem maiores quo.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde officia qui, iure veritatis, ea, perferendis vitae laboriosam rem provident maiores eveniet, nihil. Consectetur quas ad nesciunt, quaerat minus nam et.</p>
      <p>wave tracklisting</p>
      <ol class="main__list">
         <li>
            <a href="#" alt="#">lorem</a>
         </li>
         <li>
            <a href="#" alt="#">lorem</a>
         </li>
         <li>
            <a href="#" alt="#">lorem</a>
         </li>
      </ol>
      <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat id facere fugit laboriosam ducimus at dicta. Velit aliquid id quaerat, impedit asperiores esse inventore aperiam ducimus, facere culpa possimus tempore.</h4>
      <h3>lorem ipsum</h3>
      <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ullam atque, asperiores amet omnis, dicta ipsa sequi enim deserunt culpa necessitatibus, optio nobis labore blanditiis excepturi dolore quos nisi quia!</h5>
      </p>
   </div>

   <div class="actu__suggest">
      <div class="suggest__item">
         <a class="button__player" href="#"></a>
         <img class="img-responsive" src="#" alt="#">
      </div>
      <div class="suggest__item">
         <a class="button__player" href="#"></a>
         <img class="img-responsive" src="#" alt="#">
      </div>
      <div class="suggest__item">
         <a class="button__player" href="#"></a>
         <img class="img-responsive" src="#" alt="#">
      </div>
      <div class="suggest__item">
         <a class="button__player" href="#"></a>
         <img class="img-responsive" src="#" alt="#">
      </div>
   </div>
</div>

<div class="actu__caroussel">
   <div class="actu__caroussel__item">
      <div class="infos">
         <div class="date">
            <span>20</span>
            <span>oct</span>
         </div>
         <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
      </div>
   </div>
   <div class="actu__caroussel__item">
      <div class="infos">
         <div class="date">
            <span>20</span>
            <span>oct</span>
         </div>
         <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
      </div>
   </div>
   <div class="actu__caroussel__item">
      <div class="infos">
         <div class="date">
            <span>20</span>
            <span>oct</span>
         </div>
         <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
      </div>
   </div>
   <div class="actu__caroussel__item">
      <div class="infos">
         <div class="date">
            <span>20</span>
            <span>oct</span>
         </div>
         <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
      </div>
   </div>
   <div class="actu__caroussel__item">
      <div class="infos">
         <div class="date">
            <span>20</span>
            <span>oct</span>
         </div>
         <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
      </div>
   </div>
</div>


